---
repos:
  # Meta
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  # Generic
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Docker
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        language: docker_image
        types: [dockerfile]
        entry: hadolint/hadolint:latest hadolint
  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/.markdown-lint.yml"]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.5
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-tables
        args: ["--number", "--wrap", "80"]
  # Shell
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
  # YAML
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.1
    hooks:
      - id: yamllint
