services:
  distcc-server:
    build:
      target: distcc
    healthcheck:
      start_interval: 1s
      start_period: 30s
    command: ["--enable-tcp-insecure", "--verbose"]
  distcc-client:
    depends_on:
      distcc-server:
        condition: service_healthy
    build:
      target: test
    environment:
      - DISTCC_HOSTS=distcc-server
  distcc-ccache-server:
    build:
      args:
        BASE: build-ccache
      target: distcc
    healthcheck:
      start_interval: 1s
      start_period: 30s
    command: ["--enable-tcp-insecure", "--verbose"]
    volumes:
      - distcc-ccache:/var/cache/ccache
  distcc-ccache-client:
    depends_on:
      distcc-ccache-server:
        condition: service_healthy
    build:
      args:
        BASE: build-ccache
      target: test
    environment:
      - DISTCC_HOSTS=distcc-ccache-server
    volumes:
      - distcc-ccache:/var/cache/ccache
volumes:
  distcc-ccache:
