name: build
on: [pull_request, push, workflow_dispatch]
env:
  DOCKERHUB_REPOSITORY: ksmanis/gentoo-distcc
  DOCKERHUB_USERNAME: ksmanis
jobs:
  images:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - id: "386"
            crossdev_targets: []
          - id: "amd64"
            crossdev_targets: ["aarch64-unknown-linux-gnu"]
          - id: "arm/v6"
            crossdev_targets: []
          - id: "arm/v7"
            crossdev_targets: []
          - id: "arm64"
            crossdev_targets: ["x86_64-pc-linux-gnu"]
          - id: "ppc64le"
            crossdev_targets: []
        manifest:
          - base: build-base
            id: latest
            test_target: distcc
          - base: build-ccache
            id: ccache
            test_target: distcc-ccache
    name: ${{ matrix.arch.id }}:${{ matrix.manifest.id }} image
    runs-on: ${{ startsWith(matrix.arch.id, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    continue-on-error: true
    outputs:
      manifests: ${{ steps.output.outputs.manifests }}
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Prepare build variables
        id: prep
        run: |
          {
            echo "stage3_version=$(sed -n 's#^FROM ksmanis/stage3:\([^[:space:]@]\+\).*#\1#p' Dockerfile)"
            echo "tag_arch=$(echo "${{ matrix.arch.id }}" | tr -d '/')"
          } >> "$GITHUB_OUTPUT"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        if: matrix.arch.id == '386' || matrix.arch.id == 'ppc64le'
        with:
          platforms: ${{ matrix.arch.id }}
      - name: Set up buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Define Docker metadata
        id: docker-metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            docker.io/${{ env.DOCKERHUB_REPOSITORY }}
            ghcr.io/${{ env.DOCKERHUB_REPOSITORY }}
          flavor: |
            latest=false
          labels: |
            org.opencontainers.image.title=gentoo-distcc
            org.opencontainers.image.authors=Konstantinos Smanis <konstantinos.smanis@gmail.com>
          tags: |
            type=ref,event=branch,prefix=${{ steps.prep.outputs.tag_arch }}-branch-,suffix=-${{ matrix.manifest.id }}
            type=ref,event=pr,prefix=${{ steps.prep.outputs.tag_arch }}-pr-,suffix=-${{ matrix.manifest.id }}
            type=raw,value=${{ steps.prep.outputs.tag_arch }}-${{ steps.prep.outputs.stage3_version }}-${{ matrix.manifest.id }},enable={{is_default_branch}}
            type=raw,value=${{ steps.prep.outputs.tag_arch }}-${{ matrix.manifest.id }},enable={{is_default_branch}}
      - name: Build image
        id: build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          build-args: |
            BASE=${{ matrix.manifest.base }}
            CROSSDEV_TARGETS=${{ join(matrix.arch.crossdev_targets, ' ') }}
          context: .
          labels: ${{ steps.docker-metadata.outputs.labels }}
          tags: ${{ steps.docker-metadata.outputs.tags }}
          platforms: linux/${{ matrix.arch.id }}
          target: distcc
          load: true
      - name: Inspect image
        run: |
          docker image inspect ${{ steps.build.outputs.imageid }}
      - name: Test distcc
        env:
          DOCKER_DEFAULT_PLATFORM: linux/${{ matrix.arch.id }}
        run: |
          docker compose -f docker-compose.test.yml -p test up \
            --exit-code-from ${{ matrix.manifest.test_target }}-client \
            ${{ matrix.manifest.test_target }}-client ${{ matrix.manifest.test_target }}-server
      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push image
        run: |
          docker push --all-tags "docker.io/${DOCKERHUB_REPOSITORY}"
          docker push --all-tags "ghcr.io/${DOCKERHUB_REPOSITORY}"
      - name: Prepare outputs
        id: output
        run: |
          echo "manifests=$(echo "${DOCKER_METADATA_OUTPUT_JSON}" | jq -cf manifests.jq)" >> "$GITHUB_OUTPUT"
  manifests:
    needs: images
    strategy:
      fail-fast: false
      matrix:
        manifest: ${{ fromJson(needs.images.outputs.manifests) }}
    name: ${{ matrix.manifest.registry }}:${{ matrix.manifest.manifest_tag }} manifest
    runs-on: ubuntu-latest
    env:
      MANIFEST: ${{ matrix.manifest.repo }}:${{ matrix.manifest.manifest_tag }}
    steps:
      - name: Create manifest
        run: |
          for arch in 386 amd64 armv6 armv7 arm64 ppc64le; do
            image="${{ matrix.manifest.repo }}:${arch}-${{ matrix.manifest.image_tag }}"
            docker manifest create --amend "${MANIFEST}" "${image}" || true
          done
      - name: Log in to Docker Hub
        if: matrix.manifest.registry == 'docker.io'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container registry
        if: matrix.manifest.registry == 'ghcr.io'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push manifest
        run: |
          docker manifest push "${MANIFEST}"
