---
name: build

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  DOCKERHUB_REPOSITORY: ksmanis/gentoo-distcc
  DOCKERHUB_USERNAME: ksmanis

jobs:
  images:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - id: "386"
            crossdev_targets: []
          - id: "amd64"
            crossdev_targets: ["aarch64-unknown-linux-gnu"]
          - id: "arm/v6"
            crossdev_targets: []
          - id: "arm/v7"
            crossdev_targets: []
          - id: "arm64"
            crossdev_targets: ["x86_64-pc-linux-gnu"]
          - id: "ppc64le"
            crossdev_targets: []
        manifest: ["tcp", "tcp-ccache"]
    name: ${{ matrix.arch.id }}:${{ matrix.manifest }} image
    runs-on: ${{ startsWith(matrix.arch.id, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    continue-on-error: true
    outputs:
      manifests: ${{ steps.output.outputs.manifests }}
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Prepare build variables
        id: prep
        run: |
          {
            echo "base=$(echo "${{ matrix.manifest }}" | sed 's/^tcp/distcc/')"
            echo "stage3_version=$(sed -n 's#^FROM ksmanis/stage3:\([^[:space:]@]\+\).*#\1#p' Dockerfile)"
            echo "tag=$(echo "${{ matrix.arch.id }}" | tr -d '/')-${{ matrix.manifest }}"
            echo "target=distcc-$(echo "${{ matrix.manifest }}" | cut -d '-' -f 1)"
          } >> "$GITHUB_OUTPUT"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3
        if: matrix.arch.id == '386' || matrix.arch.id == 'ppc64le'
        with:
          platforms: ${{ matrix.arch.id }}
      - name: Set up buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Define Docker metadata
        id: docker-metadata
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        with:
          images: |
            docker.io/${{ env.DOCKERHUB_REPOSITORY }}
            ghcr.io/${{ env.DOCKERHUB_REPOSITORY }}
          flavor: |
            latest=false
          labels: |
            org.opencontainers.image.title=gentoo-distcc
            org.opencontainers.image.authors=Konstantinos Smanis <konstantinos.smanis@gmail.com>
          tags: |
            type=ref,event=branch,prefix=${{ steps.prep.outputs.tag }}-,suffix=-{{sha}}
            type=ref,event=branch,prefix=${{ steps.prep.outputs.tag }}-
            type=ref,event=pr,prefix=${{ steps.prep.outputs.tag }}-pr-,suffix=-{{sha}}
            type=ref,event=pr,prefix=${{ steps.prep.outputs.tag }}-pr-
            type=raw,value=${{ steps.prep.outputs.tag }}-${{ steps.prep.outputs.stage3_version }},enable={{is_default_branch}}
            type=raw,value=${{ steps.prep.outputs.tag }},enable={{is_default_branch}}
      - name: Build image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          build-args: |
            BASE=${{ steps.prep.outputs.base }}
            CROSSDEV_TARGETS=${{ join(matrix.arch.crossdev_targets, ' ') }}
          context: .
          labels: ${{ steps.docker-metadata.outputs.labels }}
          tags: ${{ steps.docker-metadata.outputs.tags }}
          platforms: linux/${{ matrix.arch.id }}
          target: ${{ steps.prep.outputs.target }}
          load: true
      - name: Inspect image
        run: |
          docker image inspect ${{ steps.build.outputs.imageid }}
      - name: Test distcc
        env:
          DOCKER_DEFAULT_PLATFORM: linux/${{ matrix.arch.id }}
        run: |
          docker compose --ansi always --progress plain -f docker-compose.test.yml -p test up \
            --exit-code-from distcc-${{ matrix.manifest }}-client \
            distcc-${{ matrix.manifest }}-client distcc-${{ matrix.manifest }}-server
      - name: Log in to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push image
        run: |
          docker push --all-tags "docker.io/${DOCKERHUB_REPOSITORY}"
          docker push --all-tags "ghcr.io/${DOCKERHUB_REPOSITORY}"
      - name: Prepare outputs
        id: output
        run: |
          echo "manifests=$(echo "${DOCKER_METADATA_OUTPUT_JSON}" | jq -cf --arg tag_prefix "${{ steps.prep.outputs.tag }}" manifests.jq)" >> "$GITHUB_OUTPUT"
  manifests:
    needs: images
    strategy:
      fail-fast: false
      matrix:
        manifest: ${{ fromJson(needs.images.outputs.manifests) }}
    name: ${{ matrix.manifest.registry }}:${{ matrix.manifest.tag }} manifest
    runs-on: ubuntu-latest
    env:
      MANIFEST: ${{ matrix.manifest.repo }}:${{ matrix.manifest.tag }}
    steps:
      - name: Create manifest
        run: |
          for arch in 386 amd64 armv6 armv7 arm64 ppc64le; do
            image="${{ matrix.manifest.repo }}:${arch}-${{ matrix.manifest.tag }}"
            docker manifest create --amend "${MANIFEST}" "${image}" || true
          done
      - name: Log in to Docker Hub
        if: matrix.manifest.registry == 'docker.io'
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container registry
        if: matrix.manifest.registry == 'ghcr.io'
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push manifest
        run: |
          docker manifest push "${MANIFEST}"
