---
name: dockerhub-description

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/dockerhub-description.yml
      - README.md

env:
  DOCKERHUB_REPOSITORY: ksmanis/gentoo-distcc
  DOCKERHUB_USERNAME: ksmanis

jobs:
  dockerhub-description:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@e98e4d1628a5f3be2be7c231e50981aee98723ae # v4
        with:
          repository: ${{ env.DOCKERHUB_REPOSITORY }}
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          short-description: ${{ github.event.repository.description }}
