name: dockerhub-description
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/dockerhub-description.yml
      - README.md
env:
  DOCKERHUB_REPOSITORY: ksmanis/gentoo-distcc
  DOCKERHUB_USERNAME: ksmanis
jobs:
  dockerhub-description:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          repository: ${{ env.DOCKERHUB_REPOSITORY }}
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          short-description: ${{ github.event.repository.description }}
