---
name: super-linter

on: [push, pull_request]

jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run super-linter
        uses: github/super-linter@v3.16.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
